@charset "UFT-8"
{background-color:lightslategray;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; }
    
h1{ color: mediumblue;}

h2{color: mediumblue;}

p{color: rgb(0, 0, 0); text-align: justify;}


